version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: notebox-db
    environment:
      POSTGRES_DB: notebox_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: notebox-app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
